<app-header></app-header>
<div class="layout-main">
  <app-left-sidebar></app-left-sidebar>
  <div class="subadminPage"></div>
  <div class="layout-content">
    <div class="layout-content-body">
      <div class="title-bar">
        <h1 class="title-bar-title"><span class="d-ib">Sub Admin Details </span></h1>
      </div>
      <div class="col-md-12 card panel-body" style="box-shadow: 0px 0px 14px #999;">
        <div class="demo-form-wrapper">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 text-right mb-3">
              <a routerLink="/home/activity-log" class="btn btn-success">Activity Log</a>
              <a routerLink="/home/edit-sub-admin-management" class="btn ml-3 btn-primary">Edit</a>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <label class=" control-label">Country Admin ID</label>
              <p>#DHJHB3464567</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <label class=" control-label">User Name</label>
              <p>John Deo</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <label class="control-label">Email ID</label>
              <p>johndeo@gmail.com</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <label class=" control-label">Mobile Number</label>
              <p>+91 987 654 3210</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <label class=" control-label">Country</label>
              <p>India</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <label class=" control-label">Role</label>
              <p>Administrator</p>
            </div>
            
            <div class="col-sm-12">
              <h5>Module Access</h5>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4">
              <p>Dashboard</p>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4">
              <p>User management</p>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4">
              <p>Language management</p>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4">
              <p>Support management</p>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4">
              <p>Business management</p>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4">
              <p>Event management</p>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4">
              <p>Report Generate management</p>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4">
              <p>Category management</p>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4">
              <p>Notification management</p>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4">
              <p>Setting</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>