<app-header></app-header>
<div class="layout-main">
  <app-left-sidebar></app-left-sidebar>
  <div class="subadminPage"></div>
  <div class="sellerListPage ExplorerListPage">
    <div class="layout-content">
      <div class="layout-content-body">
        <div class="title-bar">
          <h1 class="title-bar-title">
            <span class="d-ib">Near By Search</span>
          </h1>
          
        </div>
        
        <div class="card">
            <div class="col-md-12">
                <span style="color:red;margin-top: 5px">{{errormessage}}</span>
              </div>
              <div class="col-md-12">
                <span style="color:green;margin-top: 5px">{{successmessage}}</span>
              </div>
          <div class="card-body">
            <div class="row gutter-xs">
                <div class="col-md-6 form-group">
                    <label>Placetype</label>
                    <select [(ngModel)]="ptypes" class="form-control">
                      <option *ngFor="let item of placetypelist" value="{{item.category_name}}">{{item.category_name}}</option>
                      <!-- <option value="" hidden>Choose</option>
                      <option value="1 Week">1 Week</option>
                      <option value="1 Month">1 Month</option>
                      <option value="3 Month">3 Month</option>
                      <option value="6 Month">6 Month</option>
                      <option value="1 Year">1 Year</option> -->
                    </select>
                </div>
                <div class="col-md-6 form-group">
                    <label>Latitude</label>
                    <input [(ngModel)]="latitude" class="form-control" type="text">
                </div>

                <div class="col-md-6 form-group">
                    <label>Longitude</label>
                    <input [(ngModel)]="longitude" class="form-control" type="text">
                </div>

                <div class="col-md-6 form-group">
                    <label>Radius</label>
                    <select [(ngModel)]="searchradius" class="form-control">
                      <!-- <option value="" hidden>Choose</option> -->
                      <option value="10">10 KM</option>
                      <option value="15">15 KM</option>
                      <option value="20">20 KM</option>
                      <option value="30">30 KM</option>
                    </select>
                </div>
            </div>
            <div class="row gutter-xs mt-3">
              <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                 <button type="button" (click)="searchPlace()" class="btn btn-success">Search</button> &nbsp;&nbsp;
                 <button type="button" (click)="addPlace()" class="btn btn-primary">Submit</button>
              </div>
              <!-- <div class="mt-5 text-center">
                  <button type="button" (click)="addPlace()" class="btn btn-primary">Submit</button>
              </div> -->
              
              <!-- <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8 form-group">
                <button type="button" class="btn btn-md btn-success">Export</button>
                <button type="button" class="btn btn-md btn-primary" routerLink="/home/add-sub-admin-management">Add Sub Admin</button>
              </div> -->
              <div class="col-xs-12 col-sm-12 mt-3 col-md-12 col-lg-12">
                <div id="tabdiv" class="table-responsive" >
                  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 table table-striped table-bordered">
                    <ng-container matColumnDef="id">
                      <th mat-header-cell mat-sort-header *matHeaderCellDef> 
                        Place ID
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element.place_id}} </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                      <th mat-header-cell mat-sort-header *matHeaderCellDef> 
                        Name
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="icon">
                      <th mat-header-cell mat-sort-header *matHeaderCellDef > 
                        Icon
                      </th>
                      <td mat-cell *matCellDef="let element"><img *ngIf="element.icon" src="{{element.icon}}"></td>
                    </ng-container>
                  
                    <ng-container matColumnDef="rating">
                      <th mat-header-cell mat-sort-header *matHeaderCellDef> Rating </th>
                      <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
                    </ng-container>
                  
                  
                    <ng-container matColumnDef="latitude">
                      <th mat-header-cell mat-sort-header *matHeaderCellDef> Latitude </th>
                      <td mat-cell *matCellDef="let element"> {{element.lat}} </td>
                    </ng-container>

                    <ng-container matColumnDef="longitude">
                      <th mat-header-cell mat-sort-header *matHeaderCellDef> Longitude</th>
                      <td mat-cell *matCellDef="let element"> {{element.lng}} </td>
                    </ng-container>

                    <ng-container matColumnDef="address">
                      <th mat-header-cell mat-sort-header *matHeaderCellDef> Address </th>
                      <td mat-cell *matCellDef="let element"> {{element.vicinity}} </td>
                    </ng-container>
                    

                    <!-- <ng-container matColumnDef="placetype">
                      <th mat-header-cell mat-sort-header *matHeaderCellDef> Placetype </th>
                      <td mat-cell *matCellDef="let element"> {{element.placetype}} </td>
                    </ng-container> -->
                    
                    
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
                  <!-- <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator> -->

                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
<!-- Block -->
<div id="blockUser" class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center">
          <div class="h2 text-success">
            <i class="fa fa-ban"></i>
          </div>
          <h4>Are you sure you want to block this sub-admin?</h4>
          <div class="m-t-lg">
            <button class="btn btn-success" data-dismiss="modal" type="button" data-toggle="modal" data-target="#success-block">Yes</button>
            <button class="btn btn-danger" data-dismiss="modal" type="button">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>      
</div>
<!-- Block -->
<!-- Block Confirm-->
<div class="modal fade" id="success-block">
  <div class="modal-dialog modal-sm" data-dismiss="modal">
    <div class="modal-content">      
      <div class="modal-body" style="text-align: center;">
        <div class="h2 text-success">
          <i class="fa fa-check-square"></i>
        </div>
        <h4>Blocked Successfully !</h4>
      </div>     
    </div>
  </div>
</div>
<!-- Block Confirm-->
<!-- Block -->
<div id="unblockUser" class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center">
          <div class="h2 text-success">
            <i class="fa fa-ban"></i>
          </div>
          <h4>Are you sure you want to unblock this sub-admin?</h4>
          <div class="m-t-lg">
            <button class="btn btn-success" data-dismiss="modal" type="button" data-toggle="modal" data-target="#unsuccess-block">Yes</button>
            <button class="btn btn-danger" data-dismiss="modal" type="button">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>      
</div>
<!-- Block -->
<!-- Block Confirm-->
<div class="modal fade" id="unsuccess-block">
  <div class="modal-dialog modal-sm" data-dismiss="modal">
    <div class="modal-content">      
      <div class="modal-body" style="text-align: center;">
        <div class="h2 text-success">
          <i class="fa fa-check-square"></i>
        </div>
        <h4>Unblocked Successfully !</h4>
      </div>     
    </div>
  </div>
</div>
<!-- Unblock Confirm-->
<!-- Delete -->
<div id="deleteUser" class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center">
          <div class="h2 text-success">
            <i class="fa fa-trash-o"></i>
          </div>
          <h4>Are you sure you want to delete this sub-admin?</h4>
          <div class="m-t-lg">
            <button class="btn btn-danger" data-dismiss="modal" type="button" data-toggle="modal" data-target="#deleted-success">Yes</button>
            <button class="btn btn-success" data-dismiss="modal" type="button">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>      
</div>
<!-- Delete -->
<!-- Delete Confirm-->
<div class="modal fade" id="deleted-success">
  <div class="modal-dialog modal-sm" data-dismiss="modal">
    <div class="modal-content">      
      <div class="modal-body" style="text-align: center;">
        <div class="h2 text-success">
          <i class="fa fa-check-square"></i>
        </div>
        <h4>Deleted Successfully !</h4>
      </div>
         
    </div>
  </div>
</div>
<!-- Delete Confirm-->