<div class="login-middle">
  <div class="login">
    <div class="login-body">
      <a class="login-brand" href="javascript:void(0)">
        <img class="img-responsive" src="assets/img/logo.png" alt="logo">
      </a>
      <p class="invalid-feedback" *ngIf="invalidEmail">{{errorMessage}}</p>
      <div class="login-form">
        <form [formGroup]="forgotPassword" (ngSubmit)="onSubmit()" autocomplete="off">
          <div class="form-group">
            <label>Enter Email</label>
            <input class="form-control" type="email" name="email" formControlName="email" [ngClass]="{'is-invalid': submitted && f.email.error}">
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required.</div>
              <div *ngIf="f.email.errors.email">Enter must be a valid email address.</div>
            </div>
          </div>
          <button class="btn btn-primary btn-block" type="submit">Send link</button>
        </form>
      </div>
    </div>
  </div>
</div>