<app-header></app-header>
<div class="layout-main">
  <app-left-sidebar></app-left-sidebar>
  <div class="profilePage"></div>
  <div class="layout-content">
    <div class="layout-content-body">
      <div class="title-bar">
        <h1 class="title-bar-title"><span class="d-ib">User Details </span></h1>
      </div>
      <div class="col-md-12 card panel-body" style="box-shadow: 0px 0px 14px #999;">
        <div class="demo-form-wrapper">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 text-center">
              <div class="bg-gray sq-100 circle mb-2">
                <img *ngIf="!user.profileimg" src="assets/img/user1.jpg"/>
                <img *ngIf="user.profileimg" src="http://ip{{user.profileimg}}"/>
              </div>
              <h5>User ID: #{{user.id}}</h5>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mb-2">
              <ul class="nav nav-tab d-flex justify-content-center">
                <li class="active"><a data-toggle="tab" data-target="#basic_details">Basic Details</a></li>
                <!-- <li><a data-toggle="tab" data-target="#avatars">Avatars</a></li>
                <li><a data-toggle="tab" data-target="#stats">Stats</a></li> -->
              </ul>
            </div>
            <div class="tab-content">
              <div id="basic_details" class="tab-pane fade in active">
                <div class="row gutter-xs">
                  <div class="col-xs-12 col-sm-4 col-md-4">
                    <label>D.O.J.</label>
                    <p>{{user.created.split('T')[0]}}</p>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-4">
                    <label>Name</label>
                    <p>{{user.username}}</p>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-4">
                    <label>Mobile Number</label>
                    <p>{{user.country_code}}-{{user.mobile_number}}</p>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-4">
                    <label class="control-label">Email ID</label>
                    <p>{{user.email}}</p>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-4">
                    <label>Country</label>
                    <p>{{user.country_name}}</p>
                  </div>
                  <!-- <div class="col-xs-12 col-sm-4 col-md-4">
                    <label>City</label>
                    <p></p>
                  </div> -->
                  <div class="col-xs-12 col-sm-4 col-md-4">
                    <label>Gender</label>
                    <p>{{user.gender}}</p>
                  </div>
                  <!-- <div class="col-xs-12 col-sm-4 col-md-4">
                    <label>Address</label>
                    <p>A-22, New Delhi</p>
                  </div> -->
                  <!-- <div class="col-xs-12 col-sm-4 col-md-4">
                    <label>D.O.B.</label>
                    <p>22/02/2020</p>
                  </div> -->
                  <div class="col-xs-12 col-sm-4 col-md-4">
                    <label>BIO</label>
                    <p>{{user.bio}}</p>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-4">
                    <label>Educational Qualification</label>
                    <p>{{user.qualification}}</p>
                  </div>
                  <!-- <div class="col-xs-12 col-sm-4 col-md-4">
                    <label>Personal Data</label>
                    <p>Data</p>
                  </div> -->
                  <div class="col-xs-12 col-sm-4 col-md-4">
                    <label>Account URLS</label>
                    <p>{{user.instagram_link}}</p>
                    <p>{{user.facebook_link}}</p>
                  </div>
                </div>
              </div>
              <!-- <div id="avatars" class="tab-pane fade">
                <div class="row gutter-xs">
                  <div class="col-xs-12 col-sm-12">
                    <h5>Intrested</h5>
                  </div>
                  <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <p>DATA</p>
                  </div>
                  <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <p>DATA</p>
                  </div>
                  <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <p>DATA</p>
                  </div>
                  <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <p>DATA</p>
                  </div>
                  <div class="col-xs-12 col-sm-12 mt-3">
                    <h5>Avatar</h5>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="overflow-hidden sq-100 mb-3 mr-3"><img src="assets/img/user.jpg" class="w-100 v-top"/></div>
                    <div class="overflow-hidden sq-100 mb-3 mr-3"><img src="assets/img/user.jpg" class="w-100 v-top"/></div>
                    <div class="overflow-hidden sq-100 mb-3 mr-3"><img src="assets/img/user.jpg" class="w-100 v-top"/></div>
                    <div class="overflow-hidden sq-100 mb-3 mr-3"><img src="assets/img/user.jpg" class="w-100 v-top"/></div>
                    <div class="overflow-hidden sq-100 mb-3 mr-3"><img src="assets/img/user.jpg" class="w-100 v-top"/></div>
                    <div class="overflow-hidden sq-100 mb-3 mr-3"><img src="assets/img/user.jpg" class="w-100 v-top"/></div>
                    <div class="overflow-hidden sq-100 mb-3 mr-3"><img src="assets/img/user.jpg" class="w-100 v-top"/></div>
                    <div class="overflow-hidden sq-100 mb-3 mr-3"><img src="assets/img/user.jpg" class="w-100 v-top"/></div>
                  </div>
                </div>
              </div>
              <div id="stats" class="tab-pane fade">
                <div class="row gutter-xs mb-3">
                  <div class="col-xs-6 col-sm-3 col-md-3">
                    <select class="form-control">
                      <option value="Life Time">Life Time</option>
                      <option value="Daily">Daily</option>
                      <option value="Weekly">Weekly</option>
                      <option value="Monthly">Monthly</option>
                      <option value="Annually">Annually</option>
                    </select>
                  </div>
                  <div class="col-xs-6 col-sm-3 col-md-3">
                    <select class="form-control">
                      <option value="All">All</option>
                      <option value="Restaurant">Restaurant</option>
                      <option value="Grocery">Grocery</option>
                      <option value="Laundry">Laundry</option>
                    </select>
                  </div>
                </div>
                <div class="row gutter-xs">
                  <div class="col-xs-12 col-sm-4 col-md-4">
                    <label>Total Groups Created</label>
                    <p>222</p>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-4">
                    <label>Total Groups Joined</label>
                    <p>22</p>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-4">
                    <label>Total Connection Requests</label>
                    <p>11</p>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-4">
                    <label>Total Rejections</label>
                    <p>11</p>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-4">
                    <label>Preffered Business</label>
                    <p>Data</p>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-4">
                    <label>Preffered Event</label>
                    <p>Data</p>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-4">
                    <label>Preffered Location</label>
                    <p>Data</p>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-4">
                    <label>Total Checkin</label>
                    <p>121</p>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-4">
                    <label>Preffered Business Category</label>
                    <p>Data</p>
                  </div>
                  <div class="col-xs-12 col-sm-4 col-md-4">
                    <label>Preffered Event Category</label>
                    <p>Data</p>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>