<app-header></app-header>
<div class="layout-main">
  <app-left-sidebar></app-left-sidebar>
  <div class="subadminPage"></div>
  <div class="layout-content">
    <div class="layout-content-body">
      <div class="title-bar">
        <h1 class="title-bar-title">
          <span class="d-ib">Edit Event Management </span>
          <!-- <a routerLink="/home/profile" class="h5 pull-right text-primary">Back to Sub-admin management</a> -->
        </h1>
      </div>
      <div class="col-md-12">
          <span style="color:red;margin-top: 5px">{{errormessage}}</span>
        </div>
        <div class="col-md-12">
          <span style="color:green;margin-top: 5px">{{successmessage}}</span>
        </div>
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 card panel-body" style="box-shadow: 0px 0px 14px #999;">
        <div class="demo-form-wrapper">
          <p *ngIf="errorMessage">{{errorMessage}}</p>
          <!-- <form class="form" [formGroup]="editEventForm" (ngSubmit)="onSubmit()" autocomplete="off"> -->
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                  <label class=" control-label">Event ID</label>
                  <input [(ngModel)]="evid" class="form-control" type="text" readonly>
                </div>
                <div class="form-group">
                  <label class=" control-label">Event Name</label>
                  <input [(ngModel)]="evname" class="form-control" type="text">
                </div>
                <div class="form-group">
                  <label class=" control-label">Event Category</label>
                  <select [(ngModel)]="evcat" (change)="getSubcatList()" class="form-control" type="text">
                    <option *ngFor="let item of catlist" value="{{item.id}}">{{item.category_name}}</option>
                    <!-- <option value="" hidden>Choose</option>
                    <option value="Category 1">Category 1</option>
                    <option value="Category 2">Category 2</option> -->
                  </select>
                </div>
                <div class="form-group">
                  <label class=" control-label">Event Sub-Category</label>
                  <select [(ngModel)]="evsubcat" class="form-control" type="text">
                    <option *ngFor="let item of subcatlist" value="{{item.id}}">{{item.id}}-{{item.sub_cat_name}}</option>
                    <!-- <option value="" hidden>Choose</option>
                    <option value="Sub Category 1">Sub Category 1</option>
                    <option value="Sub Category 2">Sub Category 2</option> -->
                  </select>
                </div>
                <div class="form-group">
                  <label class="control-label">Event Email ID</label>
                  <input [(ngModel)]="evemail" class="form-control" type="email">
                </div>
                <div class="form-group">
                  <label class=" control-label">Event Mobile Number</label>
                  <input [(ngModel)]="evmob" class="form-control" type="tel">
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                  <label class=" control-label">Event Description</label>
                  <textarea [(ngModel)]="evdesc" class="form-control" rows="5"></textarea>
                </div>
                <div class="form-group">
                  <label class=" control-label">Event Location</label>

<input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
<agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
  <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
    (dragEnd)="markerDragEnd($event)"></agm-marker>
</agm-map>
<!-- <h3>Address: {{address}}</h3>
  <div>Latitude: {{latitude}}</div>
  <div>Longitude: {{longitude}}</div> -->

                  <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d223994.09818129404!2d77.09134995000001!3d28.692405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1585566780033!5m2!1sen!2sin" width="100%" height="273" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> -->
                </div>
              </div> 
              <!-- <div class="col-xs-12 col-sm-12 col-md-12 mb-3">
                <h5>Event Timings</h5>
                <label class="custom-control custom-control-primary custom-checkbox mr-1">
                  <input class="custom-control-input" type="checkbox">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-label">S</span>
                </label>              
                <label class="custom-control custom-control-primary custom-checkbox mr-1">
                  <input class="custom-control-input" type="checkbox">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-label">M</span>
                </label>             
                <label class="custom-control custom-control-primary custom-checkbox mr-1">
                  <input class="custom-control-input" type="checkbox">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-label">T</span>
                </label>              
                <label class="custom-control custom-control-primary custom-checkbox mr-1">
                  <input class="custom-control-input" type="checkbox">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-label">W</span>
                </label>              
                <label class="custom-control custom-control-primary custom-checkbox mr-1">
                  <input class="custom-control-input" type="checkbox">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-label">T</span>
                </label>              
                <label class="custom-control custom-control-primary custom-checkbox mr-1">
                  <input class="custom-control-input" type="checkbox">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-label">F</span>
                </label>              
                <label class="custom-control custom-control-primary custom-checkbox mr-1">
                  <input class="custom-control-input" type="checkbox">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-label">S</span>
                </label>
              </div> -->
              <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 form-group">
                <label>From : </label> 
                <div class="date">
                  <ng-datepicker class="w-100" (ngModelChange)="fromDate($event)" [(ngModel)]="fromdate" [options]="optionsFrom" [ngModelOptions]="{standalone: true}"></ng-datepicker>
                  <i class="fa fa-calendar ml-2 fs-18"></i>
                </div>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 form-group">
                <label>To : </label>  
                <div class="date">
                  <ng-datepicker class="w-100" [(ngModel)]="todate" [options]="optionsTo" [ngModelOptions]="{standalone: true}"></ng-datepicker>
                  <i class="fa fa-calendar ml-2 fs-18"></i>
                </div>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-3 form-group">
                <label class=" control-label">From</label>
                <input [(ngModel)]="evsttime" class="form-control" type="time" min="00:00" max="12:00">
              </div>
              <div class="col-xs-6 col-sm-3 col-md-3 form-group">
                <label class=" control-label">To</label>
                <input [(ngModel)]="evendtime" class="form-control" type="time" min="00:00" max="12:00">
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12">
                <label class="avatar-file sq-100 mb-3 mr-3">
                  <img *ngIf="evpic1" src="http://ip{{evpic1}}" id="imagefile1"/>
                  <img *ngIf="!evpic1" src="assets/img/upload_icon.png" id="imagefile1"/>
                  <!-- <img [src]="firImgURL" *ngIf="firImgURL"/> -->
                  <!-- <img src="assets/img/user1.jpg" *ngIf="!firImgURL"/> -->
                  <!-- <input #file1 type="file" accept='image/*' (change)="firImg(file1.files)"/> -->
                  <input type="file" accept="image/*" (change)="singleFiles1($event)">
                </label>
                <label class="avatar-file sq-100 mb-3 mr-3">
                  <img *ngIf="evpic2" src="http://ip{{evpic2}}" id="imagefile2"/>
                  <img *ngIf="!evpic2" src="assets/img/upload_icon.png" id="imagefile2"/>
                  <!-- <img [src]="secImgURL" *ngIf="secImgURL"/>
                  <img src="assets/img/user1.jpg" *ngIf="!secImgURL"/> -->
                  <!-- <input #file2 type="file" accept='image/*' (change)="secImg(file2.files)"/> -->
                  <input type="file" accept="image/*" (change)="singleFiles2($event)">
                </label>
                <label class="avatar-file sq-100 mb-3 mr-3">
                  <img *ngIf="evpic3" src="http://ip{{evpic3}}" id="imagefile3"/>
                  <img *ngIf="!evpic3" src="assets/img/upload_icon.png" id="imagefile3"/>
                  <!-- <img [src]="thrImgURL" *ngIf="thrImgURL"/>
                  <img src="assets/img/user1.jpg" *ngIf="!thrImgURL"/> -->
                  <!-- <input #file3 type="file" accept='image/*' (change)="thrImg(file3.files)"/> -->
                  <input type="file" accept="image/*" (change)="singleFiles3($event)">
                </label>
                <label class="avatar-file sq-100 mb-3 mr-3">
                    <img *ngIf="evpic4" src="http://ip{{evpic4}}" id="imagefile4"/>
                    <img *ngIf="!evpic4" src="assets/img/upload_icon.png" id="imagefile4"/>
                    <!-- <img [src]="thrImgURL" *ngIf="thrImgURL"/>
                    <img src="assets/img/user1.jpg" *ngIf="!thrImgURL"/> -->
                    <!-- <input #file3 type="file" accept='image/*' (change)="thrImg(file3.files)"/> -->
                    <input type="file" accept="image/*" (change)="singleFiles4($event)">
                </label>
              </div>
              <div class="col-sm-12 mt-2 form-group">
                <button class="btn btn-primary" type="button" (click)="editEv()">Submit</button>
                <button class="btn btn-danger" type="button" routerLink="/home/event-management">Cancel</button>
              </div>
            </div>
          <!-- </form> -->
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>


<!-- Modal -->
<div class="modal fade" id="success-modal" routerLink="/home/event-management">
  <div class="modal-dialog modal-sm" data-dismiss="modal">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h2><i class="fa fa-check-circle text-success"></i></h2>
        <h5>Event added successfully!</h5>
      </div>
    </div>
  </div>
</div>